
<div>
    <h2>How to play</h2>
    <p>
        Welcome to FizzleBizzle the simple game to find where the Fizz and the Buzz hides amongst a range of numbers.
        To Play simply input in your range and decide what multiples can trigger Fizz or Buzz. Those numbers will
        magically transform into their respective Fizz or Buzz or FizzBuzz after you clicked the generation button.
    </p>
    <h2>What is this Bazz you speak of?</h2>
    <p>
        Bazz is a new feature that allows for the player to step up their game. By switching the Bazz feature on
        They are able to set a special condition that if met and the number is both a multiple of their Fizz and Buzz
        a Bazz will appear resulting in a FizzBuzzBazz
    </p>
</div>
<div>
    <p style="text-align: center">
        <button type="button" class="btn btn-primary" onclick="location.href='@Url.Action("Game", "FizzleBizzle")';return false;">Go Play!</button>
    </p>
</div>